/* App2.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .App {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
   
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Textarea Styles */
  textarea {
  
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Info Styles */
  .info {
    text-align: left;
  }
  
  .info p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  









  